$blue: #343348;

$primary: $blue;

@import "node_modules/bulma/bulma.sass";

body {
  background: url('/images/main/titanium.jpg') repeat-x left top rgb(81, 86, 95);
}

.main {
  background-color: #FFF;
}

.desktop-logo {
  margin: 3.5rem 0 0 4.5rem;
}

nav {
  margin-top: 2rem;
}

.social {
  background-color: $primary;

  .column {
    text-align: center;
  }
}

.footer {
  padding-bottom: 0;
  background-color: $primary;
}