$blue: #343348;

$primary: $blue;

@import "node_modules/bulma/bulma.sass";

/* Main Styling */

body {
  background: url('/images/main/titanium.jpg') repeat-x left top rgb(81, 86, 95);
}

.main {
  background-color: #FFF;
}

.layout {
  padding-top: 14rem;
  @include until($tablet) {
    padding-top: 0;
  }
}

p {
  margin-bottom: 1.4rem;
}

#header {
  position: absolute;
  @include until($tablet) {
    position: relative;
  }
}

.desktop-logo {
  margin: 3.5rem 0 0 4.5rem;
}

nav {
  margin-top: 2rem;
  padding-left: 2rem;

  @include until($tablet) {
    margin-top: 0;
  }
}

.social {
  background-color: $primary;

  .column {
    text-align: center;
  }
}

.footer {
  padding-bottom: 3rem;
  background-color: $primary;
}

.errors {
  border: 1px solid $danger;
  padding: 1rem;
  margin: 1rem 0;

  p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.required:after {
  content: " *";
  color: $primary;
}

/* Home Page */

#home {
  background: url('/images/home/backdrop/essential_look_2018.jpg') no-repeat left top #f5f5f5;
  background-size: cover;

  @include until($tablet) {
    background: url('') no-repeat left top #f5f5f5;
  }
}

#home-news {
  margin-left: 2rem;
  .box {
    border: 1px solid #999;
    margin-bottom: 2rem;
    box-shadow: none;
  }
}

#feedback-feed {
  position: absolute;
  bottom:12rem;
  right: 2rem;
  background-color: rgba(66, 66, 89, .6);
  color: #FFF;

  a {
    color: #FFF;
  }
}

/* Recruitment Page */

#recruitment {
  background: url('/images/recruitment/vlada.jpg') no-repeat left top #f5f5f5;
  background-size: cover;
}

/* Team Page */

#team {
  .card {
    padding: 1rem 1rem 0 1rem;
  }
}

/* Contact Page */

#contact {
  background: url('/images/contact/dark_angel.jpg') no-repeat left top #f5f5f5;
  background-size: cover;
}
