{{define "content"}}

<section id="reviews">

    <h1>Some of our recent client reviews</h1>

    <h3>Filter by stylist</h3>

    <ul class="stylist-filter">

        <a href="/reviews-teamMember/"><li class="team-member-class">Team member Link</li></a>

    </ul>

{{/*    Loop through the reviews*/}}
    <div class="review">
        <p>"Review Text"</p>
        <small>Client Name</small><br>
        <small>Hair by: {Staff Name</small>
    </div>
</section>

{{end}}