{{define "content"}}

<section id="blog">

{{/* loop through blogs*/}}
    <article>
        <a id="blog-slug" class="anchor"></a>
        <h2>Blog Title</h2>
        <div>
            <img src="blog pic first" alt="">
        </div>

        <p>Blog first para</p>
        <p><a href="/blog/slug" class="back-and-to">Read more &gt;</a></p>
        <p class="author">Published by blog author</p>
        <time datetime="">Blog created at</time>
    </article>

</section>

{{end}}